.simple-keyboard.hg-layout-default .hg-button.hg-wrong {
  background: #787c7e;
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-right {
  background: #6aaa64;
  color: white;
}


.simple-keyboard.hg-layout-default .hg-button.hg-sorta {
  background: #c9b458;
  color: white;
}


