
td.puzzle-cell {
/*
*/
    background: white;
    /*padding: 5px;*/
    border: 2px solid #ccc;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

td.puzzle-cell.wrong {
    background-color: #787c7e;
}

td.puzzle-cell.right {
    background-color: #6aaa64;
}

td.puzzle-cell.sorta {
    background-color: #c9b458
}

table.puzzle-table {
    padding: 0;
    border-spacing: 6px;
    border-collapse: separate;
}

div.puzzle-container {
    margin: 0 auto;
    height: 100%;
}

div.puzzle-keyboard {
    width: 100%;
    text-align: center;
}


@media only screen and (max-device-width: 650px) {
  td.puzzle-cell {
      width: 5.5rem;
      height: 5.5rem;
      font-size: 3rem;
  }

  div.puzzle-container {
    width: 100%;
    margin-top: 20px;
  }

  div.puzzle-keyboard {
    height: 500px;
  }
}

@media only screen and (max-device-width: 1200px) and (min-device-width: 651px) {
  td.puzzle-cell {
    width: 6rem;
    height: 6rem;
      font-size: 3rem;
  }

  div.puzzle-container {
    width: 100%;
    margin-top: 20px;
  }

  div.puzzle-keyboard {
    height: 100%;
  }
}

@media only screen and (min-device-width: 1200.1px) {
  td.puzzle-cell {
    width: 4.2rem;
    height: 4.2rem;
    font-size: 2rem;
  }

  div.puzzle-container {
    width: 40rem;
    margin-top: 20px;
  }

  div.puzzle-keyboard {
    height: 30rem;
  }
}

/* keyboard stuff below */
.simple-keyboard.hg-layout-default .hg-button.hg-wrong {
    background: #787c7e;
    color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-right {
    background: #6aaa64;
    color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-sorta {
    background: #c9b458;
    color: white;
}



@media only screen and (max-device-width: 650px) {
    .react-simple-keyboard.simple-keyboard.hg-theme-default.hg-layout-default.myTheme.hg-layout-default {
        height: 500px;
    }

    .react-simple-keyboard.simple-keyboard.hg-theme-default.hg-layout-default.myTheme.hg-layout-default .hg-rows {
        height: 500px;
    }

    .react-simple-keyboard.simple-keyboard.hg-theme-default.hg-layout-default.myTheme.hg-layout-default .hg-rows .hg-row {
        height: 160px;
    }

    .react-simple-keyboard.simple-keyboard.hg-theme-default.hg-layout-default.myTheme.hg-layout-default .hg-rows .hg-row .hg-button{
        height: 160px;
    }

    .simple-keyboard.myTheme .hg-button {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 2.5rem;
        background: #ccc;
    }
}

@media only screen and (max-device-width: 1200px) and (min-device-width: 651px)  {
    .simple-keyboard.myTheme .hg-button {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 32px;
        background: #ccc;
    }
}

@media only screen and (min-device-width: 1200.1px) {
    .simple-keyboard.myTheme .hg-button {
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        background: #ccc;
    }
}





