table.datatable {
    border-collapse: collapse;
    text-indent: initial;
    box-sizing: border-box;
}

tr {
}

td.datatable, th.datatable {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    padding: 6px 6px;
    border-spacing: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
}

tr.selected {
    background-color: rgba(25, 118, 210, 0.08);
}

span.SpanBox {
    flex-direction: inherit;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

div.table_pag_main {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 2px;
}